---
layout: default
title: jquery.bigcorn.slider
repo: https://github.com/edwardw1987/jquery.bigcorn.slider
---
<div class="container-fluid">
    <div class="page-header">
        <h3><a href="{{ page.repo }}">{{ page.title }}</a></h3>                
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            {% include banner-v-1.html %}            
        </div>
        <div class="col-md-8 col-sm-12">
            {% highlight html %}
                {%- include banner-v-1.html -%}
            {% endhighlight %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            {% include banner-h-1.html %}
        </div>
        <div class="col-md-8 col-sm-12">
            {% highlight html %}
                {%- include banner-h-1.html %}
            {% endhighlight %}
        </div>        
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            {% highlight javascript %}
            {%- include banner.config.js %}
            {% endhighlight %}
        </div>
    </div>
</div>