{% assign bannerId = 'banner-left' %}

<div class="banner" id="{{ bannerId }}">
    <div class="slot"></div>
    <div class="btn-slot btn-slot-bottom-right"></div>
</div>

<script>
    $(function(){
        //default direction toward the `left`
        $("#{{ bannerId }}").BigCornSlider(
            Object.assign({}, banner.config, {
                buttonSlot:{
                    selector: ".btn-slot",
                    btnActiveClass: "banner-left-active",
                    btnCommonClass: "banner-left"
                }
            }
        ))
    }) 
</script>