{% assign bannerId = 'banner-right' %}

<div class="banner" id="{{ bannerId }}">
    <div class="slot"></div>
    <div class="btn-slot btn-slot-bottom-right"></div>
</div>
<script>
    $(function(){
        $("#{{ bannerId }}").BigCornSlider(
             Object.assign(
                {}, banner.config, {direction: "right", buttonSlot:{
                    selector: ".btn-slot",
                    btnActiveClass: "banner-right-active",
                    btnCommonClass: "banner-right"
                }}
        ));
    })
</script>