<header>
    <nav class="navbar navbar-default navbar-fixed-top bigcorn">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand bigcorn" href="/">
            {{ site.title }}
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% if page.id == 'home' %}
            <li class="active"><a href="javascript:;">首页</a></li>
            {% else %}
            <li><a href="/">首页</a></li>
            {% else %}
            {% endif %}
            {%- assign default_paths = site.pages | map: "path" -%}
            {%- assign page_paths = site.header_pages | default: default_paths -%}
            {%- if page_paths -%}
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.title -%}
              {% if my_page.id == page.id %} <li class="active"> {% else %} <li> {% endif %}
              <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              
              </li>
              {%- endif -%}
            {% endfor -%}
            {% endif %}

            <li class="dropdown bigcorn">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">项目 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for item in site.projects %}
                {% if item.entry == true %}
                <li><a href="{{ item.url }}">{{ item.project }}</a></li>
                {% endif %}
                {% endfor %}
                <!-- <li role="separator" class="divider"></li> -->
              </ul>
            </li>

          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</header>