<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ "/assets/js/jquery.bigcorn.slider.js" | relative_url | version }}"></script>


{% if page.project == "CloudPlayer" %}
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <!-- <script src="assets/js/layout.js"></script> -->
<!--     <script src="assets/js/toolbar.js"></script>
    <script src="assets/js/player.js"></script>
 -->{% endif %}
<script src="{{ "/assets/js/offcanvas.js" | relative_url | version }}"></script>