$color: 
rgb(84,188,166)
// rgb(242,172,0)
// rgb(170,170,30)
;
$bgcolor: #fff;
// common
html{
    font-size: 11px;
}
body {
    background-color: $bgcolor;
}
a, a:hover{
    color: $color;
}
/* navbar */

.navbar-brand.bigcorn,
.navbar-brand.bigcorn:hover,
.navbar-brand.bigcorn:focus{
    color:$color;
}
.navbar.bigcorn {
    background-color: $bgcolor;
    color: $color;
    ul{
        li.active{
            a, a:hover, a:focus{
                color:#fff;
                background-color:$color;
            }
        }
        li{
            a{
                transition: color .2s;
            }
            a:hover{
                color: $color;
            }
        }
    }
}
/* footer */
footer{
    width: 100%;
    height: 60px;
    background-color:$color;
    /*position: fixed;*/
    bottom: 0;
    p{
        text-align:center;
        color: white;
        line-height: 50px;
    }
}