$color:
rgb(84,188,166)
// #f85
// rgb(242,172,0)
// rgb(170,170,30)
;
$bgcolor: #fff;
$demo-height: 240px;
// common
html{
    font-size: 11px;
}
body {
    background-color: $bgcolor;
}
a, a:hover{
    color: $color;
    text-decoration: none;
}
/* navbar */

.navbar-brand.bigcorn,
.navbar-brand.bigcorn:hover,
.navbar-brand.bigcorn:focus{
    color:$color;
}
.navbar.bigcorn {
    background-color: $bgcolor;
    color: $color;
    ul{
        li.active{
            a, a:hover, a:focus{
                color:#fff;
                background-color:$color;
            }
        }
        li{
            a{
                transition: color .2s;
            }
            a:hover{
                color: $color;
            }
        }
    }
}
.dropdown.open.bigcorn>a:focus{
    color: #fff;
    background-color: $color;
}
// slider-nav
.slider-nav{
    li.list-group-item{
        border-color: $color;
    }
    li.list-group-item.active{
        a{
            color: white;
        }
        border-color: $color;
        background-color:$color;
        color:#fff;
    }
}
/* footer */
footer {
    padding:3rem 0 2rem 0;
    margin-top:5rem;
    background-color:$color;
    color:#fff;
    p{
        text-align: center;
    }
}
pre{
    code{
        height: 100%;
        white-space: pre;
        font-size: 1rem;
    }
} 
