$color: rgb(240,120, 0);
$bgcolor: rgb(240, 240, 220);

body {
    background-color: $bgcolor;
    font-size: 12px;
}

h2 {
    font-size: 2rem;
}

.blog-nav li a:hover,{
    background: transparent;
    color:$color;
}

.am-topbar-nav>li.am-active>a,
.am-topbar-nav>li.am-active>a:focus,
.am-topbar-nav>li.am-active>a:hover {
    border-radius: 0;
    color: $color;
    background: 0 0;
    text-align:center;
    cursor: pointer;
}
