@import "bigcorn";
#cloud-player{
    .sidebar-offcanvas{
        padding-left: 3rem;
    }
    #btn-go{
        color: #fff;
        background-color: $color;
        &:active{
            color:$color;
            background-color: #fff;
        }
    }
    #sidebar{
        ul{
            padding: 0;
            padding-bottom: 10rem;
            list-style:none;
            li{
                // display: inline-block;
                // display: inline-block;
                 a{
                    width: 13rem;
                    display: block;
                    padding: .5rem;
                    white-space: nowrap;
                    transition: color .3s;
                    &:active{
                        color:#fff;
                        background-color: $color;
                    }
                 }
            }
        }
    }
    #nav-initial-letter{
        margin: 0;
        padding: 0;
        margin: 1rem 0;
        @mixin li-active{
            a{                
                color: #fff;
                background-color:$color;
                transition: color .3s;

            }

        }
        li.active{
            @include li-active;
        }
        li{
            padding-bottom: .4rem;
            &:active{
                @include li-active;
            }
            display: inline-block;
            a{
                border: 1px solid $color;
                width: 3rem;
                height: 3rem;
                line-height: 3rem;
                font-size: 1.5rem;
                display: block;
                text-align: center;
            }
            
        }
    }
}