<div class="banner" id="left" style="height: 240px;">
    <div class="slot">
        {% for img in site.data.sliderImages %}
        <a href="javascript:;"><img src="{{ img.url }}" alt="{{ img.title }}" title="{{ img.title }}"></a>
        {% endfor %}
    </div>
    <div class="btn-slot btn-slot-bottom-right"></div>
</div>
{% if include.withScript != "false" %}
<script>
    $(function(){
        //default direction toward the `left`
        var config = {
            imageSlot: {
                selector: ".slot", // default => `.img-slot`             
                images: []
            },
            buttonSlot:{
                selector: ".btn-slot",
                btnActiveClass: "banner-left-active",
                btnCommonClass: "banner-left"
            }
        } 
        $("#left").BigCornSlider(config);
    });
</script>
{% endif %}