<div class="banner" id="right">
    <div class="slot">
        <a href="javascript:;"><img src="http://i2.bvimg.com/642349/284476fd0da91d0a.jpg"></a>
        <a href="javascript:;"><img src="http://i2.bvimg.com/642349/bf5d16434897b6d1.jpg"></a>
        <a href="javascript:;"><img src="http://i2.bvimg.com/642349/e4afe4ff4b43bcf1.jpg"></a>
        <a href="javascript:;"><img src="http://i2.bvimg.com/642349/e7f50c4a86c84aa9.jpg"></a>
        <a href="javascript:;"><img src="http://i2.bvimg.com/642349/fa31a3708ba844a9.jpg"></a>
    </div>
    <div class="btn-prev">
        <a href="javascript:;">&lt;</a>
    </div>
    <div class="btn-next">
        <a href="javascript:;">&gt;</a>
    </div>
    <div class="btn-slot btn-slot-bottom-right"></div>
</div>
{% if include.withScript != "false" %}
<script>
{% include banner/right.js %}
</script>
{% endif %}