---
layout: base
---
<ul class="list-group"> 
    {% if site.posts.size > 0 %}
    {%- for post in site.posts -%}
    {%- assign date_format = site.minima.date_format | default: "%m/%d/%Y" -%}
    <li class="list-group-item">
        <article>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <img src="{{ '/assets/img/corn_avatar.png' | relative_url }}" alt="{{ post.title }}" title="{{ post.title }}" style="float: left;">
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <!-- <p>{{ post.excerpt }}</p> -->                                
                </div>                 
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p class="pull-right">{{ post.date | date: date_format }}</p>
                </div>
            </div>                   
        </article>
    </li>
    {% endfor %}
    {% endif %}
</ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->