---
layout: base
---
{%- include header.html -%}
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3 col-sm-12 sidebar-offcanvas">
            <a class="visible-xs" href="javascript:;" data-toggle="offcanvas" id="toggle-offcanvas">
                <i class="fa fa-bars fa-lg"></i>
            </a>
            {% if page.id == 'home' %}
            {% include banner/home.html %}
            {% endif %}

            {% if page.project == 'jquery.bigcorn.slider' %}
                {%- include banner/nav.html -%}
                {% if page.url == '/projects/slider/toward-the-left.html' %}
                    {% include banner/left.html %}
                {% endif %}
                {% if page.url == '/projects/slider/toward-the-right.html' %}
                    {% include banner/right.html %}
                {% endif %}
                {% if page.url == '/projects/slider/toward-the-top.html' %}
                    {% include banner/top.html %}
                {% endif %}
                {% if page.url == '/projects/slider/toward-the-bottom.html' %}
                    {% include banner/bottom.html %}
                {% endif %}
            {% endif %}

        </div>
        <div class="col-md-9 col-sm-12">
        {{ content }}
        </div>
    </div>      
</div>
{%- include footer.html -%}