<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "zh-cn" }}">

    {%- include head.html -%}
    {% include scripts.html %}

  <body>
    {%- include header.html -%}
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-md-9 col-sm-12">
            {{ content }}
            </div>
            <div class="col-md-3 col-sm-12 sidebar-offcanvas">
                <a href="javascript:;" style="
                position: absolute; left: -15%;
                display:block;width: 3rem; height: 3rem;" data-toggle="offcanvas" id="toggle-offcanvas">
                    <i class="fa fa-bars fa-lg"></i>
                </a>

                {% include banner/home.html %}
            </div>
        </div>      
    </div>
    {%- include footer.html -%}
    
  </body>

</html>
