---
layout: default
---
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-md-offset-1">        
            {% if site.posts.size > 0 %}
            {%- for post in site.posts -%}
              {%- assign date_format = site.minima.date_format | default: "%m/%d/%Y" -%}
            <article class="am-g blog-entry-article">
                <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img" style="max-height: 300px; overflow: hidden;">
                    <a href="{{ post.url }}">                
                      <img src="{{ post.cover | default: '/assets/img/corn.png' | relative_url }}" alt="{{ post.title }}" title="{{ post.title }}">
                    </a>
                </div>
                <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                    <span><a href="" class="blog-color">article &nbsp;</a></span>
                    <span> @amazeUI &nbsp;</span>
                    <span>{{ post.date | date: date_format }}</span>
                    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                    <!-- <p>{{ post.excerpt }}</p> -->
                </div>
            </article>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-3">
            <div class="jumbotron" id="about-me">
                <div class="pull-left">                    
                    <img src="{{ '/assets/img/corn.png' | relative_url }}" width="50%" alt="corn">
                    <span id="title">博主简介</span>
                </div>
                        <p>
                          
                        我是一个辛勤耕耘的码农。<br>
                          
                        日出而作，日落不息。<br>
                          
                        生命不息，折腾不止。<br>
                          
                        我选择的命运，命运也选择了我。<br>
                        我就是我，不一样的玉米。<br>
                </div>
                </p>
            </div>       
        </div>
    </div>
</div>
<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
